ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  /* border-top: 5px solid rgb(91, 23, 23); */
}

ul li {
  padding: 0.8rem;
}

ul li a {
  color: rgb(91, 23, 23);
}

ul li :hover {
  color: rgb(35, 5, 5);
}

.list-items {
  width: 85%;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.active {
  color: green;
}

.icons {
  font-size: 2rem;
  color: rgb(91, 23, 23);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  ul {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  ul {
    padding: 0 0 1rem 0;
  }
}
