.title {
  width: 100%;
  background-color: rgb(39, 38, 38);
  color: #fff;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  font-size: 0.9rem;
}

.title > div i {
  padding: 0.5rem;
}
